/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo{
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
}
.container{
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.iphone{
  width: 300px;
}

.left{
  float: left;
}

h3{
  color: #FB5643;
  font-family: 'Raleway';
  position: absolute;
  width: 300px;
}


.step1 h3{
  top: 170px;
  left: 100px;

}

.step{
  width: 100px;
  position: absolute;
}

.step1 img{
  top: 70px;
  left: 200px;
}


.step2 img{
  right: 200px;
  top: 70px;
}

.step2 h3{
  top: 170px;
  right: 100px;
}

.step3 img{
  left: 250px;
  bottom: 100px;
}

.step3 h3{
  bottom: 20px;
  left: 150px;
}

.step4 img{
  right: 250px;
  bottom: 80px;
}

.step4 h3{
  right: 150px;
  bottom: 20px;
}





